@import 'tailwindcss';
@import 'bootstrap/dist/css/bootstrap.css';
@import '@tabler/core/dist/css/tabler.min.css';
@import '@tabler/core/dist/css/tabler-flags.min.css';
@import '@tabler/core/dist/css/tabler-marketing.min.css';
@import '@tabler/core/dist/css/tabler-payments.min.css';
@import '@tabler/core/dist/css/tabler-props.min.css';
@import '@tabler/core/dist/css/tabler-socials.min.css';
@import '@tabler/core/dist/css/tabler-themes.min.css';
@import '@tabler/core/dist/css/tabler-vendors.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#logo{
    width: 4em;
    height: 4em;
}
